::ng-deep .mdc-linear-progress__bar-inner {
    border-color: #ffb703 !important;
    // height: 8px !important;
}

::ng-deep .mdc-linear-progress__bar-inner {
    border-top-width: var(--mdc-linear-progress-track-height, 6px) !important;
}

::ng-deep .mdc-linear-progress {
    height: var(--mdc-linear-progress-track-height, 6px) !important;
}

::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: rgba(121, 137, 227, 0.25);
}

// ::ng-deep .mat-tooltip{
//     background-color: #326789 !important;
// }

::ng-deep .mdc-tooltip__surface {
    background-color: #326789 !important;
}

.dtWord{
    color: #ffb703; font-size: 18px;
}

.dtLine{
    height: 6px; background-color: #ffb703; margin-left: auto; margin-right: 10px; max-width: 105px;
}

.manCon{
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(226, 226, 226);
    object-fit: cover;
    position: relative;
}

.manLogo{
    width: 86%; margin: 0 auto; max-width: 300px;
}

.itemCon1{
    margin:0 ;border-right: 1px solid rgb(226, 226, 226)
}

.commonCard{
    margin: 0;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #966e09;
}