.main{
    padding: 30px;
    height: 86.2vh;
    display: flex;
    align-items: center;
    background-color: #434343;
}

.header {
    background-color: #326789;
    height: 7vh;
    line-height: 9vh;
}

li {
    text-align: center;

}

.header a {
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(0, 149, 255);
    ;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    // width: 100%;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header a:hover {
    color: #fff;
    box-shadow: none;
}

ul {
    list-style: none;
}

.percentCycle {
    background-color: white;
    border: 2px solid #ffb703;
    color: #219ebc;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .social {
//     position: absolute;
//     bottom: 0;
//     height: 10%;
//     width: 100%;
// }

.social a {
    color: #219ebc;
    text-align: center;
    margin: 0 5px;
    background-color: #e9eef4;
    border-radius: 5px;
    padding: 1px 0 4px 0;
    max-width: 40px;
}


// .social span {
//     background-color: #e9eef4;
//     border-radius: 5px;
//     // padding: 10px;
// }

.social a:hover {
    // height: 40% !important;
    color: #326789;
}

.footer {
    background-color: #252525;
    color: #fff;
    width: 100%;
    // height: 14vh;
    padding: 10px 30px;
    position: sticky;
    bottom: 0;
    // line-height: 9vh;
}

.footer svg, .footer h5, .skills h6{
    color: #ffb703;
}

.footer .col-lg-4{
    max-width: 30%;
}

.footerIcon{
    border: 2px solid #ffb703; border-style: dashed; width: 70px; height: 70px; border-radius: 50%; display: flex; justify-content: center; align-items: center;
}

::ng-deep .mat-tooltip {
    font-size: 12px;
    background-color: #1A9CC9;
}